---
import vagarLogo from "../assets/LogoVagarHome.png";
---

<div>Seguinos en nuestras redes - Iconos RRSS</div>

<div class="container">
    <a href="https://vagar.com.ar/">
        <img src={vagarLogo.src} width="150" alt="Vagar Homepage" />
    </a>
</div>

<div class="footer">
    <div class="container">
        <h2>Propiedades más buscadas</h2>
        <ul>
            <li>Vista Alta</li>
            <li>Rincón Del Arroyo</li>
            <li>La Barranca</li>
            <li>Calma</li>
        </ul>

        <h2>Enlaces Útiles</h2>
        <ul>
            <li><a href="/Chalets">Chalets en alquiler</a></li>
            <li><a href="/Mapa">Mapa</a></li>
            <li><a href="/Disponibilidad">Disponibilidad</a></li>
            <li><a href="/Novedades">Novedades</a></li>
        </ul>

        <h2>Blog</h2>

        <h2>Contacto</h2>
        <p>Chumamaya 2100, Merlo, Argentina</p>
        <p>
            <a href="mailto:reservas@vagar.com.ar"></a>
            <p>Tel: 02656 - 476500</p>
        </p>
    </div>
    <div>Copyright-</div>
</div>
