---
import Navbar from "./Navbar.astro";
import vagarLogo from "../assets/LogoVagarHome.png";
---

<header>
    <div>
        <a href="https://vagar.com.ar/">
            <img src={vagarLogo.src} width="150" alt="Vagar Homepage" />
        </a>

        <Navbar />
    </div>
</header>
