<nav>
    <ul>
        <li class="text-xl"><a href="/">Inicio</a></li>
        <li><a href="/Chalets">Chalets en Alquiler</a></li>
        <li><a href="/HomeVideo">Novedades</a></li>
        <li><a href="/">Mapa Chalets</a></li>
        <li><a href="/">El Country</a></li>
        <li><a href="/">Contacto</a></li>
    </ul>
</nav>
